@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.logo {
  display: block;
  margin: 10px auto;
  width: 25%;
  height: 10%;
}

.char-search{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.char-input{
  margin-top: 20px;
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #beb4b4 0%, #857c7c 48%, #534d4d 100%);
  color: #000;
}

.char-input::placeholder{
  color: #e2e2e2;
}